<app-navbar></app-navbar>

<form (ngSubmit)="actualizarPerfil()" class="max-w-3xl mt-32 mx-auto bg-white p-8 shadow-lg rounded-lg">
    <div class="space-y-12">
        <div class="border-b border-gray-300 pb-6">
            <h2 class="text-lg font-bold leading-7 text-gray-800">Perfil</h2>
            <p class="mt-2 text-sm leading-6 text-gray-500">Actualiza tu información de perfil.</p>

            <div class="mt-8 grid grid-cols-1 gap-x-6 gap-y-6 sm:grid-cols-6">
                <div class="sm:col-span-3">
                    <label for="nombres" class="block text-sm font-medium text-gray-700">Nombres</label>
                    <div class="mt-2">
                        <input type="text" id="nombres" [(ngModel)]="usuario.nombres" name="nombres"
                            class="block w-full rounded-md border border-gray-300 py-2 px-3 text-gray-900 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50 sm:text-sm">
                    </div>
                </div>

                <div class="sm:col-span-3">
                    <label for="apellidos" class="block text-sm font-medium text-gray-700">Apellidos</label>
                    <div class="mt-2">
                        <input type="text" id="apellidos" [(ngModel)]="usuario.apellidos" name="apellidos"
                            class="block w-full rounded-md border border-gray-300 py-2 px-3 text-gray-900 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50 sm:text-sm">
                    </div>
                </div>

                <div class="sm:col-span-4">
                    <label for="correo" class="block text-sm font-medium text-gray-700">Correo electrónico</label>
                    <div class="mt-2">
                        <input type="email" id="correo" [(ngModel)]="usuario.correo" name="correo" disabled
                            class="block w-full rounded-md border border-gray-300 bg-gray-100 py-2 px-3 text-gray-500 shadow-sm cursor-not-allowed focus:border-gray-300 focus:ring-0 sm:text-sm">
                    </div>
                </div>

                <div class="sm:col-span-4">
                    <label for="celular" class="block text-sm font-medium text-gray-700">Celular</label>
                    <div class="mt-2">
                        <input type="text" id="celular" [(ngModel)]="usuario.celular" name="celular"
                            class="block w-full rounded-md border border-gray-300 py-2 px-3 text-gray-900 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50 sm:text-sm">
                    </div>
                </div>
            </div>
        </div>

        <div class="sm:col-span-4 mt-8">
            <label for="contrasena" class="block text-sm font-medium text-gray-700">Nueva Contraseña</label>
            <div class="mt-2">
                <input type="password" id="contrasena" [(ngModel)]="nuevaContrasena" name="contrasena"
                    class="block w-full rounded-md border border-gray-300 py-2 px-3 text-gray-900 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50 sm:text-sm">
            </div>
        </div>

        <div class="mt-8 flex items-center justify-end gap-x-4">
            <button type="button"
                class="rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-semibold text-gray-700 shadow-sm hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400">
                Cancelar
            </button>
            <button type="submit"
                class="rounded-md bg-indigo-600 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600">
                Guardar
            </button>
        </div>
    </div>
</form>

<app-navbar></app-navbar>
